doctype html
html
  head
    title low-poly-chat
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
  script(src="/socket.io/socket.io.js")
  script(src="https://code.jquery.com/jquery-3.4.1.min.js")
  script(src="/javascripts/client.js")
